@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');



/*START STYLING*/
.bgPane{
    -fx-background-image:url('../images/start-bg.png');
    -fx-background-size:cover;
}
.buyticketB{
    -fx-font-size: 20;
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-text-fill: #202128;
    -fx-background-color: #FFCC52;
}

.buyticketB:hover{
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
}

/*HOME STYLING*/
.bgPane1{
    -fx-background-image:url('../images/movie-selection.png');
    -fx-background-size:cover;
}

.progressLabels{
    -fx-font-size: 20;
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-text-fill: #6E6E6D;
}

/*MOVIE SELECT STYLING*/
.seatNo{
    -fx-font-size: 15;
    -fx-text-fill: #F2F2F2;
    -fx-font-family: 'Work Sans', sans-serif;
    
}
.seatSelect:hover{
    -fx-border-color: #231612;
    -fx-border-width: 2px;
    
}
.moviePoster:hover{
    -fx-border-color: #FCFCFF;
    -fx-border-width: 3px;
}

.timeschedComboBox{
    -fx-font-size: 15;
    -fx-background-color: #FCFCFF;
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-text-fill: #F2F2F2;  
}
.tcktqtyLabel{
    -fx-font-size: 15;
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-text-fill: #F2F2F2;    
}

.tcktqtySpinner{
    -fx-font-size: 15;
    -fx-background-color: #FFCC52;
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-text-fill: #231612;    
}

/*SNACKBAR STYLING*/

.sbKC:hover{
    -fx-border-color: #F2F2F2;
    -fx-border-width: 4px;
    
}
.yellowbgPane{
    -fx-background-color: #FFD23F;
    -fx-background-radius: 10;
}

/*ADMIN SYLING*/

.iconLabels{
    -fx-font-size: 15;
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-text-fill: #FFFFFF;
}

/*LOGIN STYLING*/

.texfields{
    -fx-font-size: 15;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #262625;
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-border-color: #30323D;
    -fx-border: 0px 1px 0px 0px;
    -fx-border-bottom: #30323D 1px;
}
.keashLabel{
    -fx-font-size: 45;
    -fx-background-color: transparent;
    -fx-font-family: 'Bungee Inline', cursive;;
    -fx-text-fill: #FFFFFF;  
}
.sicLabel{
    -fx-font-size: 20;
    -fx-background-color: transparent;
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-text-fill: #FFFF;    
}
.fpLabel{
    -fx-font-size: 15;
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-text-fill: #6E6E6D;
}
.fpLabel:hover{
    -fx-font-size: 15;
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-text-fill: #FFFF;
}

#signInB{
    -fx-font-size: 18;
    -fx-background-color: #FECB53;
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-text-fill: #262625;
    -fx-background-radius: 10;
}
#signInB:hover{
    -fx-background-color: #6E6E6D;
    -fx-text-fill: #FFFF;
        }
        
#signUpB{
    -fx-font-size: 18;
    -fx-background-color: #FECB53;
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-text-fill: #262625;
    -fx-background-radius: 10;
}
#signUpB:hover{
    -fx-background-color: #6E6E6D;
    -fx-text-fill: #FFFF;
}

.cacLabel{
    -fx-font-size: 35;
    -fx-background-color: transparent;
    -fx-font-family: 'Bungee Inline', cursive;;
    -fx-text-fill: #FFFF;    
}

#getStartedB{
    -fx-font-size: 18;
    -fx-background-color: #FECB53;
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-text-fill: #262625;
    -fx-background-radius: 10;
}
#getStartedB:hover{
    -fx-background-color: #6E6E6D;
    -fx-text-fill: #FFFF;
}

/*EDIT SCREENING TAB*/
.tableLabels{
    -fx-font-size: 18;
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-text-fill: #FFFF;
}
.table-view .column-header-background {
    -fx-background-color:  #282827;
}

.table-view .column-header-background .label {
    -fx-font-size: 18;
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-text-fill: #FFFFFF;
}

.table-view .column-header, .table-view.filler {
    -fx-background-color: transparent;
    -fx-fill: #FFF;
}
.editScreeningComp{
    -fx-font-size: 18;
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-text-fill: #FFFFFF;
}
.editScreeningB{
    -fx-font-size: 18;
    -fx-background-color:  #FECB53;
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-text-fill: #262625;
    -fx-background-radius: 10;    
}
.editScreeningB:hover{
    -fx-background-color: #6E6E6D;
    -fx-text-fill: #FFFFFF;
}
.editScreeningTexfields{
    -fx-font-size: 15;
    -fx-text-fill: #282827;
    /*-fx-background-color: #262625;*/
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-border-color: #30323D;
    -fx-border: 0px 1px 0px 0px;
    -fx-border-bottom: #30323D 1px;
}
.movieTitleLabel{
    -fx-font-size: 20;
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-text-fill: #FFFFFF;    
}
.descLabel{
    -fx-font-size: 15;
    -fx-font-family: 'Work Sans', sans-serif;
    -fx-text-fill: #FFFFFF; 
}

/*DASHBOARD TAB*/

.SummaryContainer{
    -fx-background-color: #494948;    
    -fx-background-radius: 10;
    -fx-font-size: 12;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Work Sans', sans-serif; 
    -fx-effect: dropshadow(gaussian, rgba(59, 59, 59, 1), 0,0,0,2 );
}
.SummaryContainerLabel{
    -fx-font-size: 19;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Work Sans', sans-serif;  
}
.keashLabel{
    -fx-font-size: 80;
    -fx-text-fill: #FECB53;
    /*-fx-font-family: 'Work Sans', sans-serif;*/
    -fx-font-family: 'Bungee Inline', cursive;
}
.nowShowingMoviePoster{
    -fx-background-color: #494948;    
    -fx-background-radius: 5;
    -fx-font-size: 12;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Work Sans', sans-serif; 
    /*-fx-effect: dropshadow(gaussian, rgba(59, 59, 59, 1), 0,0,0,2 );*/  
}
.nowShowingMoviePoster:hover{
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;  
}
.nowShowingLabel{
    -fx-font-size: 40;
    -fx-background-color: transparent;
    -fx-font-family: 'Bungee Inline', cursive;
    -fx-text-fill: #FECB53;    
}




